rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This ruleset is completely public.
    // Any client can read and write data.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
