
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any authenticated user to read and write to any document
    // in the database. Security is enforced at the application level by
    // querying data with a `where('userId', '==', user.uid)` clause.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
