
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Acesso total para qualquer utilizador autenticado (incluindo anónimo)
    // Esta é a regra mais simples para garantir o funcionamento da aplicação
    // com a autenticação anónima que agora está a ser forçada.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
